@font-face {
  font-family: 'PF Bague Sans Pro';
  src: local("../fonts/PF Bague Sans Pro Regular"), local("PF-Bague-Sans-Pro-Regular"), url("../fonts/PFBagueSansPro.woff2") format("woff2"), url("../fonts/PFBagueSansPro.woff") format("woff"), url("../fonts/PFBagueSansPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Bague Sans Pro Bold';
  src: local("../fonts/PF Bague Sans Pro Bold"), local("PF-Bague-Sans-Pro-Bold"), url("../fonts/PFBagueSansPro-Bold.woff2") format("woff2"), url("../fonts/PFBagueSansPro-Bold.woff") format("woff"), url("../fonts/PFBagueSansPro-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF Bague Sans Pro Black';
  src: local("../fonts/PF Bague Sans Pro Black"), local("PF-Bague-Sans-Pro-Black"), url("../fonts/PFBagueSansPro-Black.woff2") format("woff2"), url("../fonts/PFBagueSansPro-Black.woff") format("woff"), url("../fonts/PFBagueSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Humanist 521';
  src: local("Humanst521 BT"), url("../fonts/Humanst521 BT.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  font-size: 1rem;
}

.container .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20em;
  background-color: #031634;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.container .sidebar .logo {
  margin: 5em auto;
}

.container .sidebar .logo img {
  width: 10em;
}

.container .sidebar .phones {
  color: white;
  margin: 3em auto;
}

.container .sidebar .phones div {
  font-family: 'PF Bague Sans Pro Bold', sans-serif;
  font-size: 2em;
}

.container .content {
  font-family: 'PF Bague Sans Pro', sans-serif;
  margin-right: 20em;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content-info {
  color: #031634;
}

.container .content-info .content-header {
  font-size: 2.6em;
  position: relative;
  margin-bottom: .6em;
  padding-bottom: .6em;
}

.container .content-info .content-header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #031634;
}

.container .content-info .content-text {
  font-size: 1.8em;
  line-height: 1.3;
  text-align: justify;
}

.primary-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

.primary-services-container .side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.primary-services-container .left-side {
  font-family: 'PF Bague Sans Pro', sans-serif;
  color: #031634;
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #ebf0fa;
}

.primary-services-container .left-side-header {
  font-size: 3.2em;
  margin-top: 2em;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
}

.primary-services-container .left-side-header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #031634;
}

.primary-services-container .left-side-info {
  font-size: 1.6rem;
  text-align: justify;
}

.primary-services-container .left-side-footer {
  margin: auto auto 3em;
  text-align: center;
}

.primary-services-container .left-side-footer img {
  width: 92px;
}

.primary-services-container .right-side {
  padding: 2em;
}

.footer.laser-footer img {
  width: 100%;
}

.container .content.plotter-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .content.plotter-content .content-info:nth-child(2) {
  margin-top: 1em;
}

.footer.souvenir-footer {
  text-align: center;
}

.footer.souvenir-footer .souvenirs-big {
  width: 100%;
}

.footer.souvenir-footer .souvenirs-small {
  width: 50%;
}

.footer.car-footer img {
  width: 700px;
  max-width: 50%;
}

.footer.banner-footer img {
  width: 100%;
}

.primary-services-container.design .right-side {
  background: url("../../img/services/design/1.png") no-repeat center/contain;
  background-origin: content-box;
}

.primary-services-container .right-side.poly1 {
  background: url("../../img/services/polygraphy/1.png") no-repeat center/contain;
  background-origin: content-box;
}

.primary-services-container .right-side.poly2 {
  background: url("../../img/services/polygraphy/2.png") no-repeat center/contain;
  background-origin: content-box;
}

@media screen and (max-width: 1400px) {
  .container {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=services-style.css.map */