@font-face {
  font-family: 'PF Bague Sans Pro';
  src: local("../fonts/PF Bague Sans Pro Regular"), local("PF-Bague-Sans-Pro-Regular"), url("../fonts/PFBagueSansPro.woff2") format("woff2"), url("../fonts/PFBagueSansPro.woff") format("woff"), url("../fonts/PFBagueSansPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF Bague Sans Pro Bold';
  src: local("../fonts/PF Bague Sans Pro Bold"), local("PF-Bague-Sans-Pro-Bold"), url("../fonts/PFBagueSansPro-Bold.woff2") format("woff2"), url("../fonts/PFBagueSansPro-Bold.woff") format("woff"), url("../fonts/PFBagueSansPro-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF Bague Sans Pro Black';
  src: local("../fonts/PF Bague Sans Pro Black"), local("PF-Bague-Sans-Pro-Black"), url("../fonts/PFBagueSansPro-Black.woff2") format("woff2"), url("../fonts/PFBagueSansPro-Black.woff") format("woff"), url("../fonts/PFBagueSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Humanist 521';
  src: local("Humanst521 BT"), url("../fonts/Humanst521 BT.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

.bazz-widget {
  margin-right: -30px;
}

#intro, #contacts {
  background: url("../img/intro/intro.png") no-repeat top right/auto 100%, radial-gradient(ellipse, white, #ebf0fa);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro .callback-button, #contacts .callback-button {
  position: absolute;
  right: 45px;
  bottom: 45px;
}

#intro .callback-button img, #contacts .callback-button img {
  width: 60px;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: -1;
}

section a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

section .panel {
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .1s;
  transition: .1s;
}

section .panel:hover {
  -webkit-box-shadow: 0 0 5px #969696;
          box-shadow: 0 0 5px #969696;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

section .panel:active {
  -webkit-box-shadow: 0 0 10px inset rgba(150, 150, 150, 0.5);
          box-shadow: 0 0 10px inset rgba(150, 150, 150, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}

section .panel.secondary-services {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

section .panel .services-header, section .panel .services-text {
  font-family: 'PF Bague Sans Pro', sans-serif;
}

section .panel .services-header {
  text-transform: uppercase;
  font-size: 2.2em;
  position: relative;
  margin-top: 0.6em;
  padding-bottom: 0.6em;
}

section .panel .services-header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #031634;
}

section .panel .services-text {
  font-size: 1.4em;
  margin-top: 0.8em;
  text-align: justify;
}

section .panel .services-logo {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .panel .services-logo img {
  width: 92px;
}

#intro {
  color: #031634;
}

#intro .intro-phones-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 12.7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro .intro-phones-panel img {
  height: 10vh;
}

#intro .intro-phones-panel .logo {
  margin-right: 10px;
}

#intro .intro-phones-panel .phones {
  margin-right: 25px;
  margin-top: -.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro .intro-phones-panel .phones .phone-href {
  color: inherit;
  margin: 0;
  font-family: 'PF Bague Sans Pro Bold', sans-serif;
  font-size: 4.8vh;
}

#intro .intro-header {
  margin-top: -2vh;
}

#intro .intro-header div {
  font-family: 'Humanst521 BT Bold', sans-serif;
  font-weight: bold;
  font-size: 21vh;
  text-transform: uppercase;
  line-height: 1;
}

#intro .intro-header div:nth-child(1) {
  padding: 0 .4em 0.05em;
  display: inline-block;
  color: white;
  background-color: #031634;
}

#intro .intro-header div:nth-child(2) {
  margin-left: 1.4em;
  margin-top: -0.05em;
}

#intro .intro-header img {
  height: 40vh;
}

#intro .intro-subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32vh;
  font-family: 'PF Bague Sans Pro', sans-serif;
  font-size: 32px;
}

#intro .intro-subheader strong {
  margin-right: 1em;
  font-family: 'PF Bague Sans Pro Bold', sans-serif;
}

.primary-services {
  padding: 2em;
  padding-bottom: 4em;
}

.primary-services:nth-child(1) {
  background-color: #ebf0fa;
  color: #031634;
}

.primary-services:nth-child(2) {
  background-color: white;
  color: #040004;
}

.primary-services:nth-child(3) {
  background-color: #031634;
  color: white;
}

.primary-services:nth-child(3) .services-header::after {
  background-color: white;
}

.primary-services-info {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 15vw;
}

.secondary-services {
  padding: 2em;
  padding-bottom: 3em;
}

.secondary-services:nth-child(even) {
  background-color: #ebf0fa;
}

.secondary-services .services-header {
  color: #031634;
}

.secondary-services .services-text {
  color: #5b5b5b;
}

.secondary-services .secondary-image {
  min-height: 5em;
  max-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-services .secondary-image img {
  width: 6em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.secondary-services:nth-child(3) .secondary-image img {
  width: 5em;
}

.secondary-services .secondary-image {
  margin-top: 15vw;
}

#about {
  font-size: 1.2rem;
}

#about .about-left, #about .about-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

#about .about-left .about-left-content {
  font-family: 'PF Bague Sans Pro', sans-serif;
  color: #031634;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 7%;
}

#about .about-left .about-left-content-header {
  text-transform: uppercase;
  font-size: 2.2em;
  position: relative;
  padding-bottom: 0.6em;
}

#about .about-left .about-left-content-header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #031634;
}

#about .about-left .about-left-content p {
  font-size: 1.6em;
  margin-bottom: 0;
  text-align: justify;
}

#about .about-left .about-left-footer {
  width: 90%;
  height: 64px;
  background: url("../img/about/footer-image.png") no-repeat 0 0/cover;
  margin: 0 auto 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.15);
          box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.15);
  -webkit-transition: background-position 1s linear;
  transition: background-position 1s linear;
}

#about .about-left .about-left-footer:hover {
  background-position: right 0;
  -webkit-box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.4);
          box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.4);
}

#about .about-right {
  background: url("../img/about/octagon.png") no-repeat center/80% auto;
  background-color: #031634;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-right .wrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 16%;
  position: relative;
  -webkit-perspective: 400px;
          perspective: 400px;
}

#about .about-right .wrapper img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 7s infinite linear;
          animation: spin 7s infinite linear;
}

#about .about-right .wrapper img.face {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
            transform: translate(-50%, -50%) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(360deg);
            transform: translate(-50%, -50%) rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
            transform: translate(-50%, -50%) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateY(360deg);
            transform: translate(-50%, -50%) rotateY(360deg);
  }
}

#contacts {
  font-size: 1.5rem;
  padding: 3em;
  z-index: -1;
}

#contacts .wrapper {
  color: #031634;
  width: 80%;
  font-family: 'PF Bague Sans Pro', sans-serif;
}

#contacts .wrapper .phones, #contacts .wrapper .e-mail {
  font-family: 'PF Bague Sans Pro Bold', sans-serif;
}

#contacts .wrapper span {
  display: block;
}

#contacts .wrapper .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contacts .wrapper .contacts-wrapper .contacts:first-child {
  margin-right: 10px;
}

#contacts .wrapper .contacts-wrapper .contacts .header {
  font-size: 2.4em;
  position: relative;
  margin-top: 1em;
  margin-bottom: .6em;
  padding-bottom: .6em;
}

#contacts .wrapper .contacts-wrapper .contacts .header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #031634;
}

#contacts .wrapper .contacts-wrapper .contacts .adress {
  font-size: 1.6em;
}

#contacts .wrapper .contacts-wrapper .contacts .phones {
  font-size: 1.8em;
}

#contacts .wrapper .contacts-wrapper .contacts .phones .phone-href {
  color: inherit;
}

#contacts .wrapper .contacts-wrapper .contacts .e-mail {
  font-size: 1.8em;
  color: inherit;
}

#contacts .wrapper .route {
  font-size: 1.6em;
  margin-top: 1em;
}

#contacts .wrapper .route p {
  text-align: justify;
}

#contacts .wrapper .route p:first-child {
  margin-top: 0;
}

#contacts .callback-button {
  position: absolute;
  right: 45px;
  bottom: 45px;
}

#contacts .callback-button img {
  width: 60px;
}

.fss-nav {
  position: fixed;
  right: 0.1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 10em;
  min-width: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.fss-nav .fss-button {
  color: #9e9e9e;
  width: 100%;
  min-height: 1em;
  border: 2px solid #9e9e9e;
  border-radius: 50%;
  padding: 0.1em;
  background-clip: content-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fss-nav .fss-button.active {
  background-color: #9e9e9e;
}

.fss-nav .fss-button:hover {
  cursor: pointer;
}

.full-screen-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.active-section {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 10;
}

.previous-section {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.next-section {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@media screen and (max-width: 1400px) {
  #contacts {
    font-size: 1rem;
  }
  #contacts .wrapper .logo img {
    width: 200px;
  }
  section .panel {
    font-size: 1rem;
  }
  #about {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  #intro .intro-header {
    margin-top: 0;
  }
  #intro .intro-header img {
    height: auto;
    width: 90vw;
  }
  #intro .intro-subheader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 32vw;
  }
}

@media screen and (max-width: 575px) {
  .bazz-widget {
    display: block;
    margin-right: -75px;
  }
  .bazz-widget.opened {
    width: 420px;
  }
  #intro .intro-phones-panel img {
    display: none;
  }
  #intro .intro-subheader {
    margin-left: 5px;
  }
  #about .about-left .about-left-footer {
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
  }
  #contacts {
    padding: .5em;
  }
  #contacts .wrapper {
    width: 100%;
  }
  #contacts .wrapper .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */