@font-face {
    font-family: 'PF Bague Sans Pro';
    src: local('../fonts/PF Bague Sans Pro Regular'), local('PF-Bague-Sans-Pro-Regular'),
        url('../fonts/PFBagueSansPro.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro.woff') format('woff'),
        url('../fonts/PFBagueSansPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bague Sans Pro Bold';
    src: local('../fonts/PF Bague Sans Pro Bold'), local('PF-Bague-Sans-Pro-Bold'),
        url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Bold.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bague Sans Pro Black';
    src: local('../fonts/PF Bague Sans Pro Black'), local('PF-Bague-Sans-Pro-Black'),
        url('../fonts/PFBagueSansPro-Black.woff2') format('woff2'),
        url('../fonts/PFBagueSansPro-Black.woff') format('woff'),
        url('../fonts/PFBagueSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
      font-family: 'Humanist 521 Condenced';
      src: url('../fonts/Hum521c.ttf');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
    font-family: 'Humanist 521 Condenced Bold';
    src: url('../fonts/Hum521bc.ttf');
    font-weight: bold;
    font-style: normal;
}

@mixin B_reg {
    font-family: 'PF Bague Sans Pro', sans-serif;
}

@mixin B_bold {
    font-family: 'PF Bague Sans Pro Bold', sans-serif;
}

@mixin B_strong {
    font-family: 'PF Bague Sans Pro Black', sans-serif;
}

@mixin H_reg {
    font-family: 'Humanist 521 Condenced', sans-serif;
}

@mixin H_bold {
    font-family: 'Humanist 521 Condenced Bold', sans-serif;
}