.fss-nav
    position: fixed
    right: 0.1em
    top: 50%
    transform: translateY(-50%)
    display: flex
    flex-direction: column
    min-height: 10em
    min-width: 1em
    justify-content: space-between
    z-index: 99
    .fss-button
        color: $nav-button-color
        width: 100%
        min-height: 1em
        border: 2px solid $nav-button-color
        border-radius: 50%
        padding: 0.1em
        background-clip: content-box
        transition: 0.4s
        &.active
            background-color: $nav-button-color
        &:hover
            cursor: pointer

.full-screen-section
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: .2s

.active-section
    transform: scale(1)
    z-index: 10

.previous-section
    transform: scale(0)
    transition-duration: 0s

.next-section
    transform: scale(0)
    transition-duration: 0s

@media screen and ( max-width: 575px)
    .fss-nav
        position: fixed
        top: auto
        right: auto
        bottom: 0.1em
        left: 50%
        transform: translateX(-50%)
        flex-direction: row
        min-height: 1em
        min-width: 10em
        .fss-button
            min-height: 100%
            width: 1em
    .previous-section
        transform: scaleX(0)
        transition-duration: 0s
        transform-origin: left

    .next-section
        transform: scaleX(0)
        transition-duration: 0s
        transform-origin: right
        