#cards1
    .primary-services-container
        .left-side
            &-info
                font-size: 2em
    
#cards1, #cards2
    .primary-services-container
        .left-side
            background-color: $primary-color
            color: $text-white-color
            &-header
                &::after
                    background-color: $text-white-color
            &-info
                .phone-href
                    +B_bold
        .right-side
            background-color: $secondary-color
            display: flex
            flex-direction: column
            justify-content: space-around
            &>img
                align-self: center
                width: 80%
                min-height: 1px
            a
                align-self: center
                width: 20%
                min-height: 1px
                img
                    width: 100%

#cards3, #cards4
    .container
        .content
            &-header
        .sidebar
            position: fixed
        .footer
            img
                max-width: 100%