.primary-services-container.design
    .right-side
        display: flex
        justify-content: center
        align-items: center
        img
            max-width: 45vw
            max-height: 100vh
            object-fit: contain
