.primary-services-container
    .right-side
        &.poly1
            background: url('../../img/services/polygraphy/1.png') no-repeat center/contain
            background-origin: content-box
        &.poly2
            background: url('../../img/services/polygraphy/2.png') no-repeat center/contain
            background-origin: content-box