#polygraphy1, #polygraphy2
    .primary-services-container
    .side.left-side
        position: fixed
        left: 0
        top: 0
        bottom: 0
        right: 50%
    .right-side
        margin-left: 50%
        img
            max-width: 45vw
            max-height: 100vh