#about
    .about-left, .about-right
        flex-basis: 50%
        display: flex
    .about-left
        flex-direction: column
        min-height: 100%
        .about-left-content
            +B_reg
            color: $primary-color
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center
            padding: 5px 7%
        .about-left-footer
            width: 90%
            height: 64px
            background: url('../img/about/footer-image.png') no-repeat 0 0/cover
            margin: 0 auto
            overflow: hidden
            box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.15)
            transition: background-position 2s
            &:hover
                background-position: right 0
                box-shadow: 0 0 5px inset rgba(100, 100, 100, 0.4)
    .about-right
        background: url('../img/about/octagon.png') no-repeat center/90% auto
        background-color: $primary-color
        justify-content: center
        perspective: 400px
        .wrapper
            align-self: center
            min-width: 17%
            position: relative
            transform-style: preserve-3d
            animation: spin 7s infinite
            img
                position: absolute
                width: 100%
                top: 50%
                left: 50%
                &.face
                    transform: translate(-50%, -50%)
                    backface-visibility: hidden
                &.back
                    transform: translate(-50%, -50%) rotateY(180deg)
                    backface-visibility: hidden

    @keyframes spin
        0%
            transform: rotateY(0deg)
        100%
            transform: rotateY(360deg)
            