@media screen and ( max-width: 1400px)
    #contacts
        font-size: 1rem
        .wrapper
            .logo
                img
                    width: 200px
    section
        .panel
            font-size: 1rem
    #about
        font-size: 1rem
    
@media screen and ( max-width: 900px)
    #intro
        .intro-header
            margin-top: 0
            img
                height: auto
                width: 90vw
        .intro-subheader
            flex-direction: column
            margin-left: 32vw
    
@media screen and ( max-width: 500px)
    #intro
        .intro-phones-panel
            img
                display: none
        .intro-subheader
            margin-left: 5px
    #about
        .about-left
            .about-left-footer
                transition-duration: 2s
    #contacts
        padding: .5em
        .wrapper
            width: 100%
            .contacts-wrapper
                flex-direction: column

