@media screen and ( max-width: 1400px)
    #contacts
        font-size: 1rem
        .wrapper
            .logo
                img
                    width: 200px
    section
        .panel
            font-size: 1rem
    #about
        font-size: 1rem
    
@media screen and ( max-width: 900px)
    #intro
        .intro-header
            margin-top: 0
            img
                height: auto
                width: 90vw
        .intro-subheader
            flex-direction: column
            margin-left: 32vw

@media screen and ( max-width: 768px)
    #intro
        .intro-header
            // margin-top: 0
            img
                // height: auto
                // width: 90vw
        .intro-subheader
            // flex-direction: column
            // margin-left: 32vw
    #contacts
        // padding: .5em
        // padding-right: 3em
        .wrapper
            width: 100%
            flex-direction: row
            .logo
                img
                    width: 12em
            .contacts-wrapper
                flex-direction: column
                .contacts
                    .header
                        // margin-top: 0px

@media screen and ( max-width: 575px)
    .bazz-widget
        display: block
        margin-right: -70px
        margin-bottom: -15px
        &-form
            label
                font-size: 14px
        &.opened
            width: 400px
    #intro
        .intro-phones-panel
            img
                display: none
        .intro-subheader
            margin-left: 5px
    #about
        flex-direction: column
        .about-left
            min-height: 40%
            .about-left-content
                flex: 0
                padding: 0.5em
                &-header
                    margin-left: 4em
            .about-left-footer
                transition-duration: 2s
        .about-right
            flex-basis: 60%
            background-size: auto 80%
    #contacts
        padding: .5em
        padding-top: 6em
        padding-right: 3em
        .wrapper
            width: 100%
            .logo
                img
                    width: 9em
            .contacts-wrapper
                flex-direction: column

