html
    font-size: 10px
    
body
    font-size: 1.6rem
    overflow: hidden
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

*
    box-sizing: border-box

h1, h2
    margin: 0
    font-weight: normal

.bazz-widget
    margin-right: -30px

#intro, #contacts
      background: url('../img/intro/intro.png') no-repeat top right/auto 100%, radial-gradient(ellipse, white, $secondary-color)
      flex-direction: column
      .callback-button
        position: absolute
        right: 45px
        bottom: 45px
        img
            width: 60px

section
    perspective: 1500px
    height: 100vh
    display: flex
    box-sizing: border-box
    overflow: hidden
    z-index: -1
    a
        display: block
        text-decoration: none
        margin: 0
        padding: 0
    .panel
        font-size: 1.2rem
        flex: 1 1 33.33%
        display: flex
        flex-direction: column
        transition: .1s
        &:hover
            box-shadow: 0 0 5px rgba(150, 150, 150, 1)
            transform: translateZ(10px)
        &:active
            box-shadow: 0 0 10px inset rgba(150, 150, 150, 0.5)
            transform: scale(1)
        &.secondary-services
            flex: 1 1 20%
        .services-header, .services-text
            +B_reg
        .services-header
            text-transform: uppercase
            font-size: 2.2em
            position: relative
            margin-top: 0.6em
            padding-bottom: 0.6em
            min-height: 2.5em
            vertical-align: bottom
            display: flex
            align-items: flex-end
            &::after
                content: ""
                position: absolute
                bottom: 0px
                left: 0px
                width: 100%
                height: 1px
                background-color: $primary-color
        .services-text
            font-size: 1.4em
            margin-top: 0.8em
            text-align: justify
            overflow: hidden
        .services-logo
            margin-top: auto
            display: flex
            justify-content: center
            img
                width: 92px

