.secondary-services
    padding: 1em
    padding-bottom: 3em
    &:nth-child(even)
        background-color: $secondary-color
    .services-header
        color: $primary-color
    .services-text
        color: $text-gray-color
    .secondary-image
        min-height: 5em
        display: flex
        img
            width: 4em
            align-self: flex-end
    &:nth-child(3)
        .secondary-image
            img
                width: 3.5em
    .secondary-image
        margin-top: 40%
    
        